---
title: Work around you and your team
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {% include "partials/_header.html" %}

  <div class="homeSlider">
    <div class="homeSlider__items">
      <div class="homeSlider__item">
        <div class="homeSlider__box" style="background-image: url();">
          <p class="homeSlider__title">Work around you and your team</p>
          <p class="homeSlider__text">From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology “rich media” to attract consumers.</p>
          <a class="homeSlider__button button" href="#">Get started</a>
          <a class="homeSlider__modal modal"href="#"></a>
        </div>
      </div>
    </div>
    <div class="homeSlider__progressbar"></div>
  </div>

  <main class="main">

    <section class="blockquote">
      <div class="blockquote__wrap">
        <blockquote class="blockquote__content">
          <h2 class="blockquote__title">We solve digital problems with an outstanding creative flare</h2>
          <p class="blockquote__text">The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study.</p>
          <p class="blockquote__text">For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.</p>
          <footer class="blockquote__footer">
            <div class="blockquote__image">
              <img src="" alt="Lorem">
            </div>
            <p class="blockquote__author">Denis Shepovalov</p>
            <p class="blockquote__position">Co-Founder & CEO</p>
          </footer>
        </blockquote>
      </div>
    </section>

    <section class="service">
      <header class="service__header">
        <p class="service__subtitle">Services</p>
        <h2 class="service__title">We love work hard and explore new things that’s why we cover lot of things. Check our service list and view details</h2>
        <ul class="service__list">
          <li class="service__item">Multimedia</li>
          <li class="service__item">Creative Strategy</li>
          <li class="service__item">Interactive design</li>
          <li class="service__item">UI/UX</li>
          <li class="service__item">Packaging</li>
          <li class="service__item">Coding</li>
          <li class="service__item">Branding</li>
        </ul>
      </header>
      <div class="serviceSlider">
        <div class="serviceSlider__items">
          <div class="serviceSlider__item">
            <a class="serviceSlider__modal modal" style="background-image: url();" href="#">Lorem ipsum dolor sit amet.</a>
          </div>
          <div class="serviceSlider__item">
            <a class="serviceSlider__modal modal" style="background-image: url();" href="#">Lorem ipsum dolor sit amet.</a>
          </div>
        </div>
        <div class="serviceSlider__controls">
          <button class="serviceSlider__control serviceSlider__control--prev"></button>
          <button class="serviceSlider__control serviceSlider__control--next"></button>
        </div>
      </div>
    </section>

    <section class="feature">
      <div class="feature__wrap">
        <div class="feature__content">
          <h2 class="feature__title"></h2>
          <p class="feature__text"></p>
          <ul class="feature__list">
            <li class="feature__item">
              <span class="feature__icon"></span>
              <span class="feature__item-text"></span>
            </li>
            <li class="feature__item">
              <span class="feature__icon"></span>
              <span class="feature__item-text"></span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="work">
      <div class="work__wrap">
        <header class="work__header">
          <p class="work__subtitle">our works</p>
          <h2 class="work__title">Discover our Work</h2>
          <div class="work__controls workSlider__controls">
            <a class="workSlider__control" href="#">All</a>
            <a class="workSlider__control" href="#">Branding</a>
            <a class="workSlider__control" href="#">Web</a>
            <a class="workSlider__control" href="#">Development</a>
            <a class="workSlider__control" href="#">Films</a>
          </div>
        </header>
        <div class="workSlider">
          <div class="workSlider__items">
            <div class="workSlider__item">
              <a class="workSlider__modal modal" href="#">Lorem ipsum dolor sit amet.</a>
            </div>
            <div class="workSlider__item">
              <a class="workSlider__modal modal" href="#">Lorem ipsum dolor sit amet.</a>
            </div>
            <div class="workSlider__item">
              <a class="workSlider__modal modal" href="#">Lorem ipsum dolor sit amet.</a>
            </div>
            <div class="workSlider__item">
              <a class="workSlider__modal modal" href="#">Lorem ipsum dolor sit amet.</a>
            </div>
            <div class="workSlider__item">
              <a class="workSlider__modal modal" href="#">Lorem ipsum dolor sit amet.</a>
            </div>
            <div class="workSlider__item">
              <a class="workSlider__modal modal" href="#">Lorem ipsum dolor sit amet.</a>
            </div>
          </div>
        </div>
        <footer class="work__footer">
          <p class="work__text">It picks up the words on the page and displays ads that are similar to those words. Then when someone either performs an action or clicks on your page you will get paid.</p>
          <a class="work__button button" href="#">see our works</a>
        </footer>
      </div>
    </section>

    <div class="reviewSlider">
      <div class="reviewSlider__items">
        <div class="reviewSlider__item">
          <div class="reviewSlider__wrap">
            <blockquote class="reviewSlider__blockquote">
              <p class="reviewSlider__blockquote-text">"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"</p>
              <footer class="reviewSlider__footer">
                <p class="reviewSlider__name">Polina Kuzina</p>
                <p class="reviewSlider__position">Manager at Craftwork</p>
              </footer>
            </blockquote>
            <div class="reviewSlider__image">
              <img src="" alt="#">
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="client">
      <header class="client__header">
        <h2 class="client__title"></h2>
        <div class="client__desc">
          <p class="client__subtitle"></p>
          <p class="client__text"></p>
        </div>
      </header>
      <ul class="client__list">
        <li class="client__item">
          <a class="client__link" href="#">
            <img src="" alt="Lorem">
          </a>
        </li>
        <li class="client__item">
          <a class="client__link" href="#">
            <img src="" alt="Lorem">
          </a>
        </li>
        <li class="client__item">
          <a class="client__link" href="#">
            <img src="" alt="Lorem">
          </a>
        </li>
        <li class="client__item">
          <a class="client__link" href="#">
            <img src="" alt="Lorem">
          </a>
        </li>
        <li class="client__item">
          <a class="client__link" href="#">
            <img src="" alt="Lorem">
          </a>
        </li>
      </ul>
    </section>

  </main>
	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}

		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}

{% endblock %}
