<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__top">
      <div class="footer__logo logo">
        <img src="" alt="Gravity">
      </div>
      <div class="footer__links">
        <a class="footer__link" href="#">Travel</a>
        <a class="footer__link" href="#">Explore</a>
        <a class="footer__link" href="#">Works</a>
        <a class="footer__link" href="#">About Us</a>
        <a class="footer__link" href="#">Contacts</a>
      </div>
      <div class="footer__form">
        <form action="#" class="form">
          <label for="mail">
            <input type="email" name="mail" id="mail" placeholder="Your email">
          </label>
          <input type="button" value="Send">
        </form>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__links">
        <a class="footer__link" href="#">Terms</a>
        <a class="footer__link" href="#">Promo</a>
        <a class="footer__link" href="#">Download</a>
        <a class="footer__link" href="#">News</a>
      </div>
      <div class="footer__socials">
        <a class="footer__link" href="#">
          <span class="footer__link-icon"></span>
          <span class="visually-hidden"></span>
        </a>
        <a class="footer__link" href="#">
          <span class="footer__link-icon"></span>
          <span class="visually-hidden"></span>
        </a>
        <a class="footer__link" href="#">
          <span class="footer__link-icon"></span>
          <span class="visually-hidden"></span>
        </a>
        <a class="footer__link" href="#">
          <span class="footer__link-icon"></span>
          <span class="visually-hidden"></span>
        </a>
      </div>
    </div>
  </div>
</footer>
