.service
	position: relative
	margin-top: 100px
	margin-bottom: 100px
	overflow: hidden
	@media (min-width: 576px)
		margin-top: 140px
		margin-bottom: 140px

.service__header
	+container
	+row
	margin-bottom: 55px
	@media (min-width: 576px)
		margin-bottom: 100px

.service__headline
	position: relative
	flex-basis: 100%
	max-width: 100%
	margin-bottom: 25px
	+col
	font-weight: 500
	font-size: 14px
	line-height: 1.5
	letter-spacing: 4px
	text-transform: uppercase
	color: rgba($base-color, 0.7)
	@media (min-width: 576px)
		margin-bottom: 40px

.service__headline::before
	display: inline-block
	padding-right: 10px
	content: "—"

.service__lead
	flex-basis: 100%
	max-width: 100%
	margin-bottom: 35px
	+col
	+title
	letter-spacing: -1px
	@media (min-width: 992px)
		flex-basis: 50%
		max-width: 50%
		margin-bottom: 0


.service__list
	flex-basis: 100%
	max-width: 100%
	+row
	@media (min-width: 992px)
		flex-basis: 45%
		max-width: 45%
		margin-left: 5%

.service__item
	flex-basis: 50%
	max-width: 50%
	+col
	line-height: 2.15
	color: rgba($base-color, 0.5)
	@media (min-width: 576px)
		flex-basis: 33.33%
		max-width: 33.33%
	@media (min-width: 992px)
		flex-basis: 50%
		max-width: 50%
	@media (min-width: 1200px)
		flex-basis: unset
		max-width: unset
		width: 255px
		padding: 0px 15px 0 85px

.service__slider .draggable
	@media (min-width: 992px)
		overflow: visible

.service__slider_wrap
	position: relative
	+container

.service__slider-items
	position: relative

.service__slider-item
	display: inline-flex !important
	+col

.service__modal
	width: 100%
	height: 330px
	@media (min-width: 992px)
		height: 500px
	@media (min-width: 1200px)
		width: 825px


.service__slider-controls
	+container
	display: flex
	margin-top: 20px
	margin-bottom: 20px
	@media (min-width: 576px)
		margin-top: 40px
		margin-bottom: 40px

.service__button
	margin: 0 15px

