.welcome
	position: relative

.welcome__items
	margin-bottom: -175px

.welcome__item
	position: relative
	margin-bottom: 175px
	@media (min-width: 576px)
		min-height: 78vh
	@media (max-width: 991.98px)
		min-height: 480px

.welcome__inner
	+container
	padding: 0

.welcome__box
	position: relative
	z-index: 20
	max-width: 50%
	width: 100%
	margin-right: auto
	padding: 70px 15px
	user-select: text
	@media (max-width: 575.98px)
		max-width: 100%
	@media (min-width: 576px) and (max-width: 767.98px)
		max-width: 75%

.welcome__image
	position: absolute
	top: 0
	right: 0
	bottom: 0
	display: block
	max-width: 50%
	width: 100%
	padding-left: 15px
	@media (max-width: 575.98px)
		top: 50%
		bottom: unset
		max-width: 195px
		height: 180px
		transform: translateY(-50%)
	@media (min-width: 576px) and (max-width: 767.98px)
		max-width: 25%

.welcome__image img
	display: block
	width: 100%
	height: 100%
	line-height: 1
	object-fit: cover

.welcome__button
	min-width: 190px

.welcome__modal
	position: absolute
	bottom: -35%
	right: -50%
	z-index: 10
	display: block
	width: 400px
	height: 310px
	box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44)
	@media (max-width: 991.98px)
		display: none

.welcome__modal img
	display: block
	line-height: 1
	object-fit: cover

.welcome__title
	display: block
	margin-bottom: 25px
	+title
	font-size: 60px
	line-height: 1.2
	letter-spacing: -1px
	color: #151515
	@media (max-width: 575.98px)
		font-size: 45px

.welcome__text
	display: block
	margin-bottom: 55px
	font-size: inherit
	line-height: 1.55
	@media (max-width: 575.98px)
		background: rgba(255,255,255,0.5)
