.work
	position: relative
	margin-top: 140px
	margin-bottom: 255px

.work__header
	+container
	+row
	margin-bottom: 105px

.work__footer
	+container
	+row
	margin-top: 20px
	margin-bottom: 20px

.worke__headline
	position: relative
	flex-basis: 100%
	max-width: 100%
	margin-bottom: 40px
	+col
	font-weight: 500
	font-size: 14px
	line-height: 1.5
	letter-spacing: 4px
	text-transform: uppercase
	color: rgba($base-color, 0.7)

.worke__headline::before
	display: inline-block
	padding-right: 10px
	content: "—"

.work__lead
	flex-basis: 50%
	max-width: 50%
	+col
	+title
	letter-spacing: -1px

.work__footer-text
	flex-basis: 66.66666667%
	max-width: 66.66666667%
	+col

.work__button
	margin: 0 15px 0 auto

.work__controls
	flex-basis: 45%
	max-width: 45%
	display: flex
	margin-left: 5%

.work__control
	display: flex
	justify-content: center
	align-items: center
	padding: 10px 15px
	font-weight: 500
	font-size: 14px
	line-height: 1.5
	text-decoration: none
	text-transform: uppercase
	letter-spacing: 4px
	color: rgba($base-color, 0.3)

.work__control_current
	color: #1434e1

.work__items
	+container
	+row

.work__item
	flex-basis: 33.33333333%
	max-width: 33.33333333%
	margin-bottom: 30px
	+col

.work__modal
	display: block
	width: 100%
	height: 450px
	transition: box-shadow .85s, transform 1.05s

.work__modal:focus-within,
.work__modal:hover
	box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.25)
	transform: translateY(-20px)
